<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="UX-A-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">

    <title>Contact Table</title>
 </head>
 <body>
    <table>
        <thead>
            <th>No.</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Location</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <script>
        fetch("http://127.0.0.1:4000/getForm")
        .then(res=>res.json())
        .then(data=>console.log(data))
    </script>
 </body>
</html>