<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="UX-A-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">

    <title>Contact Table</title>
 </head>
 <body>
    <table>
        <thead>
            <th>No.</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Location</th>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table> <br><br></br>
    <a href="/form">Add Contact</a>
    <script>
        const TR = document.querySelector("tr")
        fetch("http://127.0.0.1:4000/getForm")
        .then(res=>res.json())
        .then(data=>{
            data.forEach((element,i) => {
                TR.insertAdjacentHTML("afterend",
                `
                <td>${i}</td>
                <td>${element.name}</td>
                <td>${element.gender}</td>                
                <td>${element.phone}</td>                
                <td>${element.address}</td>                
                `
                )
                console.log(element)
            });
            
        })
    </script>
 </body>
</html>