<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="U-XA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
    <h1>Contact Form</h1>
    <p>You can fill the below form to get in touch with us</p>
    <form id="form" method="post" action="/getForm">
        <label for="name">
            Name:
            <input name="name" id="name" type="text">
        </label> <br> <br>
        <label for="gender"> Gender:
            <input type="radio" id="gender" name="gender" value="Male"> Male
            <input type="radio" id="gender" name="gender" value="Female"> Female
        </label>
        <input type="submit"   id="sub" value="SUBMIT">
    </form>
    <script>
        const obj = {
                name : document.getElementById("name"),
                gender : document.getElementById("gender")
                }
        let btn = document.getElementById("sub")
        btn.addEventListener("click", ()=>{
            fetch("localhost:4000/getForm", {
                method: "POST",
                header: {"Content-Type":"application/json"},
                body: JSON.stringify(obj)
            }).then(res=>res.json())
            .then(data=>
            {
                console.log(data)
            })
            console.log(gender)
            // window.href = "/getForm"
        })
    </script>
</body>
</html>